
* {
    font-family: "Josefin Sans", sans-serif;
}

p {
    font-family: "Mulish",sans-serif;
     color: #57667e;
     font-size: 16px;
     font-weight: 400;
}
a{
    font-family: "Mulish",sans-serif;
}

.text-purple{
    color: #C86FFF;
}
.bg-purple{
    background-color: #C86FFF;
}

.footer-copy-right{
    letter-spacing: 1px;
    font-weight: normal;
    font-style: normal;
    font-family: "Mulish", sans-serif;
}
.foot-icon{
    background:rgba(128,136,255,0.1);
    margin-left: 10px;
}
.foot-icon:hover{
    background-color: #C86FFF;
}


.banner{
    background-image: url(../img/banner.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 100px;
    margin-bottom:-120px;
}
.nav-back{
    background: linear-gradient(to bottom, #c054ff 0%, #5274ff 100%);

}


.slick-prev:before{
    color:gainsboro !important
}
.slick-next:before{
    color:gainsboro !important
}

.bg-purple{
background: linear-gradient(to bottom, #eae2fe 0%, #a376ff 1%, #ea68ff 98%, #ec7dfe 99%, #f3f3fa 99%, #f4f5fa 100%);;
}

.skill-feature-list{
    list-style-type: "\2713";
}

.skill-feature-list > li:before{
content: " ";
padding:0 10px
}

.subject-back{
    background-color: black;
}

.text-decoration{
    text-decoration: none;
    color: white;
    font-weight: 400;
}
footer ul{
    list-style-type: none;
    padding-left: 0;
}
footer ul > li{
    margin-bottom:15px;
    font-weight: 400;
}

.bg-footer{
    background: #4255A4;
}

.footer-tittle h4{
    margin-bottom: 29px;
}


@media(max-width:575px){
    .fs-big{
        font-size:28px;
    }
}
@media(min-width:768px){
    .fs-big{
        font-size:38px;
    }
}
@media(min-width:991px){
    .fs-big{
        font-size:50px;
    }
}
@media(min-width:992px){
    .fs-big{
        font-size:60px;
    }
}
.btn-purple{
    position: relative;
    overflow: hidden;
    background-color: #FF9F67;
    color: #fff;
}
.btn-purple:hover {
    /* Generic Hover style for a button */
    color: #fff;
  }
  
  .btn-purple::after {
    /* Adds the overlay for creating slide effect */
    content: '';
    position: absolute;
    background-color: #AE59FF;
    z-index: -1;
    padding: 0.25em 0.5em;
    display: block;
    transition: all 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  
  .btn-purple:hover::after {
    /* Hover effect for the overlay slide effect */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  
  .btn-purple::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }