
* {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------  Contact Page Start  --------- */

.font-roboto{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.font-roboto::placeholder {
    color: rgb(163, 163, 163);
  }

  .border-purple{
    border: 1px solid #C86FFF ;
    letter-spacing: 2px;
    color: #C86FFF;
    background-color: transparent;
    transition: all 0.5s;
  }

  .border-purple:hover{
    background-color: #C86FFF;
    color: white;
  }

  .icons i{
    color:gray;
    font-size: 29px;
  }



/* ---------  Contact Page ends  --------- */



@media (min-width:991px){
    nav{
    position: fixed;
	top: -100px !important;
	transition: all 0.4s;
  opacity: 0;
}
.displayNav {
	top: 0px !important;
	transition: all 0.4s;
  opacity: 1;
}
}

@media (max-width:991px){
    .just{
        display: none;
    }
}

p {
    font-family: "Mulish",sans-serif !important;
     color: #57667e;
     font-size: 16px;
     font-weight: 400;
}
a{
    font-family: "Mulish",sans-serif;
}

.text-purple{
    color: #C86FFF;
}
.bg-purple{
    background-color: #C86FFF;
}
/* .bg-transperent{
    background-color: transparent;
} */

.footer-copy-right{
    letter-spacing: 1px;
    font-weight: normal;
    font-style: normal;
    font-family: "Mulish", sans-serif;
}
.foot-icon{
    background:rgba(128,136,255,0.1);
    margin-left: 10px;
}
.foot-icon:hover{
    background-color: #C86FFF;
}


.banner{
    background-image: url(../img/banner.png);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 100px;  
}

.courses-banner{
    background-image: url(../img/courses-banner.png);
    height: 42vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 100px;  
}

@media (max-width:767px){
    .courses-banner{
        height: 33vh;
    }
}

.mb-120{
    margin-bottom:-120px;
}
.nav-back{
    background: linear-gradient(to bottom, #c054ff 0%, #5274ff 100%);

}


.slick-prev:before{
    color:gainsboro !important
}
.slick-next:before{
    color:gainsboro !important
}

.bg-purple{
background: linear-gradient(to bottom, #eae2fe 0%, #a376ff 1%, #ea68ff 98%, #ec7dfe 99%, #f3f3fa 99%, #f4f5fa 100%);;
}

.skill-feature-list{
    list-style-type: "\2713";
}

.skill-feature-list > li:before{
content: " ";
padding:0 10px
}

.subject-back{
    background-color: black;
}

.text-decoration{
    text-decoration: none;
    color: white;
    font-weight: 400;
}
footer ul{
    list-style-type: none;
    padding-left: 0;
}
footer ul > li{
    margin-bottom:15px;
    font-weight: 400;
}

.bg-footer{
    background: #4255A4;
}

.footer-tittle h4{
    margin-bottom: 29px;
}


@media(max-width:575px){
    .fs-big{
        font-size:28px;
    }
}
@media(min-width:768px){
    .fs-big{
        font-size:38px;
    }
}
@media(min-width:991px){
    .fs-big{
        font-size:50px;
    }
}
@media(min-width:992px){
    .fs-big{
        font-size:60px;
    }
}




.btn-purple{
    position: relative;
    overflow: hidden;
    background-color: #FF9F67;
    color: #fff;
    padding: 11px 35px;
}
.btn-purple:hover {
    /* Generic Hover style for a button */
    color: #fff;
    
  }
  
  .btn-purple::after {
    /* Adds the overlay for creating slide effect */
    content: '';
    position: absolute;
    background-color: #c054ff;
    z-index: -1;
    padding: 0.25em 0.5em;
    display: block;
    transition: all 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  
  .btn-purple:hover::after {
    /* Hover effect for the overlay slide effect */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  
  .btn-purple::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }






.btn-orange{
    position: relative;
    overflow: hidden;
  border: 1px solid white;
    color: #fff;
    padding: 11px 35px;
}
.btn-orange:hover {
    /* Generic Hover style for a button */
    color: #fff;
  }
  
  .btn-orange::after {
    /* Adds the overlay for creating slide effect */
    content: '';
    position: absolute;
    background-color: #FF9F67;
    z-index: -1;
    padding: 0.25em 0.5em;
    display: block;
    transition: all 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  
  .btn-orange:hover::after {
    /* Hover effect for the overlay slide effect */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  
  .btn-orange::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }






.btn-view{
    position: relative;
    overflow: hidden;
  border: 1px solid #FF9F67;
    color: #FF9F67;
    padding: 11px 35px;
}
.btn-view:hover {
    /* Generic Hover style for a button */
    color: #fff;
  }
  
  .btn-view::after {
    /* Adds the overlay for creating slide effect */
    content: '';
    position: absolute;
    background-color: #FF9F67;
    z-index: -1;
    padding: 0.25em 0.5em;
    display: block;
    transition: all 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  
  .btn-view:hover::after {
    /* Hover effect for the overlay slide effect */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  
  .btn-view::after {
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
  }

  